<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html" charset="utf-8">
        <title>NodeWebOperate</title>
        <link type="text/css" href="./style.css" rel="stylesheet">
    </head>
    <body>
        <head><h1>ボタンを押して話しかけてください</h1></head>
        <main>
            <p>『つける』で点灯、『消える』で消灯</p>
            <p class="hoge"><%-content %></p>
            <p>音声認識:<input type="button" value="ボタン" onclick="getSpeech()"></p>
            <form name="voiceData" action="/" method="post">
                <input type="hidden" name="ope_data" value="">
            </form>
        </main>
        <script>
            const recognition = new webkitSpeechRecognition();
            recognition.lang = 'ja-JP';
            const form = document.voiceData;
            recognition.onresult = (e)=>{
                form.ope_data.value = e.results[0][0].transcript;
                form.submit();
            }
            const getSpeech = ()=>{
                recognition.start();
            }
        </script>
    </body>
</html>